body > * {
    max-width: 754px;
    margin: auto;
}

.columns {
    columns: 169px 4;
    column-rule: 1px solid gray;    
}

.columns > * {
    float: right;
    white-space: nowrap;
    overflow-x: hidden;
    width: 170px;
    direction: rtl;
}

tab-settings {
    display: flex;
    justify-content: space-around;
    height: 50px;
}

tab-settings > *{
    align-self: center;
    margin: 0px 10px;
}

.short-text{
    width: 30px;
}